
{% extends 'layout/base.html' %}

{% comment %}  #


        http의 특징중 하나는 stateless(connectionless)임
        즉, 클라이언트가 서버에 요청을 보내고 서버가 응답을 하면
        클라이언트는 그 응답을 받자마자 연결이 끊어진다는 의미

            ==> 웹서버는 다수의 사용자가 정보를 요청하는 경우가 많기 때문에
                사용자와의 연결을 유지한다면, 서버의 리소스가 많이 필요해짐.
                따라서, http의 경우 서버가 응답하고나면, 바로 연결을 끊게 됨



        cookie
        클라이언트측 웹 브라우저에 저장하는 데이터
        브라우저 종료시 쿠키가 만료됨


        session
        서버측에 저장하는 데이터
        세션 생성시 고유id를 같이 생성하는데,
        이를 통해 서버에 접속하는 사용자들을 구분할 수 있음
        세션을 만료하려면 서버에서 직접 제거해야 함



{% endcomment %}

{% block title %}

        member/join

{% endblock %}


    {% block style %}

        #main { height: 500px }

        /* 로그인 폼 배치하기 */
        form { border: 0px solid crimson; width: 350px; margin: 150px auto}

        /* 로그인 폼 요소에 여백주기 */

        form div { margin-top: 10px }

        /* 로그인 폼 라벨에 너비 설정 */
        /* display - 인라인요소를 블록요소로 변경 */
        form label { display:inline-block;
        width: 120px; font-weight: bold}

        /* 로그인 폼 버튼 위치 설정 */
        form button:first-child { margin-left: 10px}






        input:focus { background: khaki}
        input:hover { background: tomato}

        #warp { border: 0px solid crimson; width: 1250px; margin: 0 auto}
    {% endblock %}



{% block content %}



    <h1>로그인</h1>

    <form name="loginfrm" id="loginfrm" method="post">
    {% csrf_token %}
                <div>

                    {{ error }}

                </div>

                <div><label for="userid">아이디</label>
                <input type="text" name="userid" id="userid"></div>

                <div><label for="passwd">비밀번호</label>
                <input type="password" name="passwd" id="passwd">
                </div>

                <div><label></label>
                         <button type="button" id="loginbtn">로그인</button>
                </div>
    </form>

{% endblock %}


    {% block jscript %}

        <script>


            const loginbtn = document.querySelector('#loginbtn')
            {# form에 이벤트를 걸때는 e라는 매개변수 필요#}
            loginbtn.addEventListener('click', () => {
                const userid = document.loginfrm.userid;
                const passwd = document.loginfrm.passwd;

                if (userid.value == "") {
                    alert('아이디를 입력'); userid.focus();
                    return;
                } else if (passwd.value == "") {
                    alert('비밀번호를 입력'); passwd.focus();
                    return;
                }
                else {
                    // 버튼으로 submit 기능을 수행함
                    // document.폼이름.submit()
                    document.loginfrm.submit();
                }
            });

        </script>




    {% endblock %}

