{% extends 'layout/base.html' %}


{% block title %}

    member/myinfo

{% endblock %}



            {% block style %}



        #main { height: 500px }




    /* 로그인한 회원의 정보 테이블 배치 */
    table { border: 1px solid crimson;
            margin: 120px auto}

    /* 회원 정보 각 행에 여백 주기 */
    th,td { padding: 10px}

    /* 회원 정보 테이블의 제목 정렬하기 */
    th { text-align: right}

    {% endblock %}


{% block content %}

        <h1>회원정보</h1>
            <table>
                <tr><th>아이디</th><td>아이디입력</td></tr>
                <tr><th>이름</th><td>이름이름</td></tr>
                <tr><th>이메일</th><td>이메일입력</td></tr>
                <tr><th>가입일</th><td>가입일입력</td></tr>
            </table>

     {% endblock %}


    {% block jscript %}


    {% endblock %}
