
{% extends 'layout/base.html' %}

{% block title %}

    board/view

{% endblock %}


    {% block style %}


        #main { height: 500px }
        #warp { border: 0px solid crimson; width: 1250px; margin: 0 auto}
        table { width: 60%; margin: 65px auto -10px;
                     border-collapse: collapse; }
        th, td { padding: 10px; }
        th:first-child { width: 10% }
        td:nth-child(4) th {
            vertical-align: top;
        }
        tr:nth-child(4) td {
            border: 1px solid coral;
             vertical-align: top; }

        div { height: 300px; overflow: auto; padding: 5px }


        tr:nth-child(5) td { text-align: right}

    {% endblock %}



    {% block content %}

        <h2>게시판 본문글</h2>
            <table>
                <tr>
                    <th>제목</th><td>マンコに入れてください</td>
                </tr>
                <tr>
                    <th>작성자</th><td>nakadasiyewon</td>
                </tr>
                <tr>
                    <th>작성일</th><td>20220527</td>
                </tr>
                <tr>
                    <th>본문</th>
                        <td>
                            <div class="box">
                                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,中に出して,
                        </div>
                     </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="button" onclick="location.href='board.html'">목록으로 이동</button>
                        <button type="button" onclick="location.href='write.html'">새글쓰기</button>
                        <button type="button">수정하기</button>
                        <button type="button">삭제하기</button>
                    </td>
                </tr>



            </table>

    {% endblock %}

   {% block jscript %}


    {% endblock %}


