<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}파이선 프로잭{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>
<div id="warp">
    {% include 'layout/header.html' %}
    <div id="main"></div>
        {% block content %} {% endblock %}
    {% include 'layout/footer.html' %}
</div>

    {% block jscript %} {% endblock %}


</body>

</html>









<!-- 헤더 수정 해야 함 -->

    <header>
        <h1>Python 웹프로잭트 v1</h1>
        <nav>
            <ul id="nav_ul">
                <li><a href="index.html">home</a></li>
                <li><a href="login.html">회원가입</a></li>
                <li><a href="join.html">로그인</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="myinfo.html">회원정보</a></li>

            </ul>
        </nav>
        <hr>
    </header>
    <div id="main"></div>
   <center>

   </center>

</div>
</body>
</html>