<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>{% block title %}파이선 프로잭{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/css/webproject.css' %}">
    <style>
        {% block style %} {% endblock %}
    </style>
</head>
<body>
<div id="warp">
    {% include 'layout/header.html' %}
    <div id="main"></div>
        {% block content %} {% endblock %}
    {% include 'layout/footer.html' %}
</div>

    {% block jscript %} {% endblock %}


</body>

</html>



